footer {
    position: relative;
    background-color: rgb(46, 46, 46);
    -webkit-box-shadow: 0px 22px 93px 115px rgb(46 46 46);
    -moz-box-shadow: 0px 22px 93px 115px rgb(46 46 46);
    box-shadow: 0px 22px 93px 115px rgb(46 46 46);
}

.footer-wrapper {
    width: 100vw;
    height: 350px;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-bottom: var(--nav-bar-height); */
}

.footer-logo {
    position: relative;
    padding: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.social-media-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.social-media-info{
    margin: 0;
    color: rgb(153, 152, 152);
    text-align: center;
    font-size: 2rem;
}

.social-media-icon{
    display: block;
    width: 3rem;
    height: 3rem;
    color: white;
    transition: transform 1s, color 1s;
}


.social-media-icon:hover{
    color: rgb(49, 153, 251);
    transform: scale(1.5) rotate(360deg);
}

.contact-info{
    flex-grow: 1;
}

.contact-item{
    font-size: 1.5rem;
    color: lightgray;
    height: 25%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-text {
    font-family: 'Assistant', cursive;
}

.contact-item:hover {
    transform: scale(1.1);
}

.contact-item:hover .footer-icon {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;

    transform: rotate(360deg);
}

.copy-icon:hover {
    transform: scale(1.4);
}

.copy-icon:hover {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}


@media only screen and (max-width: 1000px){
    .footer-wrapper {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .social-media-info{
        display: none;
    }

    .contact-item{
        text-align: center;
    }
}


/* Material Design icon settings */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;

  transition: transform 0.6s;
}

.material-symbols-filled {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  /* --------------------------- */