* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

html, body{
    overflow-y: auto;
    overflow-x: hidden;
  }

.upper-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: calc(100vh - var(--nav-bar-height));
    /* height: 100vh; */
    margin-top: var(--nav-bar-height);
    padding: 0 8vw;
}

.background-video{
    position: absolute;
    height: 100vh;
    width: 100%;
    bottom: 0;
    object-fit: cover;
}

.self-picture-container .self-picture{
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0.8;
    transition: opacity 1s;
}

.self-picture-container {
    position: relative;
    /* max-width: 400px; */
    max-height: 50vh;
    border-radius: 100%;
    z-index: 2;
    aspect-ratio: 1/1;
    transition: 1s cubic-bezier(0.47, 1.12, 0.46, -0.36);
}

.self-picture:hover {
    opacity: 1;
}

.self-picture-container:hover{
    transform: scale(1.1);
    -webkit-box-shadow: 0px 0px 300px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 300px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 300px 4px rgba(0,0,0,0.75);
}

.header-name {
    z-index: 1;
    color: whitesmoke;
    text-align: center;
    font-size: 3rem;
    font-size: 6vh;
    opacity: 0.7;
}

.main-body {
    padding: 50px 7vw 250px;
    background-color: rgb(0, 0, 11);
    -webkit-box-shadow: 0px -45px 58px 17px rgba(0,0,11,1);
    -moz-box-shadow: 0px -45px 58px 17px rgba(0,0,11,1);
    box-shadow: 0px -45px 58px 17px rgba(0,0,11,1);
}

.separator-1 {
    border: 1.5px solid black;
    max-width: 600px;
    opacity: 0.5;
    margin: 30px auto;
}

.body-text-head {
    color: rgb(168, 168, 168);
    font-size: 2rem;
    text-align: center;
}

.body-text {
    margin-top: 70px;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(168, 168, 168);;
}

.upper-section-white {
    position: absolute;
    background-color: gray;
    width: 100vw;
    height: 300px;
    -webkit-box-shadow: 0px 50px 69px 84px grey;
    -moz-box-shadow: 0px 50px 69px 84px gray;
    box-shadow: 0px 50px 69px 84px grey;
}

/* @media only screen and (max-width: 500px) {
    .upper-section-white {
        height: 200px;
    }
} */
