* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

.page-wrapper {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 20px;
    overscroll-behavior: none;
}

.upper-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - var(--nav-bar-height) + 10px);
    width: 100vw;
    /* margin-top: var(--nav-bar-height); */
    padding: 0 8vw;
    transform-style: preserve-3d;
    z-index: -1;
}

.upper-section .background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 4rem);
    background-size: cover;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
    transform: translateZ(-20px) scale(2.1);
}

.upper-section .background-image {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% + 4rem);
    background-size: cover;
    overflow: hidden;
    z-index: -1;
    object-fit: cover;
    transform: translateZ(-20px) scale(2.1);
}

.self-picture-container {
    position: relative;
    /* max-width: 400px; */
    height: 50vh;
    border-radius: 100%;
    z-index: 2;
    aspect-ratio: 1/1;
    transition: 1s cubic-bezier(0.47, 1.12, 0.46, -0.36);
    transform: translateZ(-10px) scale(1.5);
    perspective: 800px;
}

.self-picture-container .self-picture-card {
    position: relative;
    height: 100%;
    border-radius: 100%;
    transform-style: preserve-3d;
    transition: transform 1.5s;
}

.self-picture-container:hover .self-picture-card {
    transform: rotateY(180deg);
}

.self-picture-container .self-picture-front, .self-picture-back{
    position: absolute;
    height: 100%;
    border-radius: 100%;
    backface-visibility: hidden;
    aspect-ratio: 1/1;
}

.self-picture-back {
    transform: rotateY(180deg);
}



.self-picture-container:hover{
    /* transform: scale(1.001); */
    -webkit-box-shadow: 0px 0px 300px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 300px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 300px 4px rgba(0,0,0,0.75);
}

.header-name {
    font-family: 'Lobster', cursive;    
    z-index: 1;
    color: whitesmoke;
    text-align: center;
    font-size: 3rem;
    font-size: 6vh;
    opacity: 0.9;
    transform: translateZ(-5px) scale(1.2);
    background: url(../pictures/6.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
}

.main-body {
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem 7vw 250px;
    background-color: rgb(0, 0, 18);
    -webkit-box-shadow: 0px -27px 72px 44px rgb(0 0 18);
    -moz-box-shadow: 0px -27px 72px 44px rgb(0 0 18);
    box-shadow: 0px -27px 72px 44px rgb(0 0 18);
}

/* .separator-1 {
    border: 1.5px solid black;
    max-width: 600px;
    opacity: 0.5;
    margin: 30px auto;
} */

.body-text-head {
    font-family: 'Pacifico', cursive;    
    color: rgb(168, 168, 168);
    font-size: 3em;
    text-align: center;
    background: url(../pictures/4.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
}

.body-text {
    font-family: 'Oleo Script', cursive;    
    margin-top: 8rem;
    max-width: 1000px;
    text-align: justify;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(200, 177, 177);
}

.upper-section-white {
    position: absolute;
    background-color: gray;
    width: 100vw;
    height: 300px;
    -webkit-box-shadow: 0px 50px 69px 84px grey;
    -moz-box-shadow: 0px 50px 69px 84px gray;
    box-shadow: 0px 50px 69px 84px grey;
}

@media only screen and (max-width: 500px) {
    .self-picture-container {
        height: 40vh;
    }
}
